<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.ankivoice.av006">
    <uses-sdk android:minSdkVersion="33" android:targetSdkVersion="35" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <queries>
        <intent><action android:name="android.intent.action.TTS_SERVICE" /></intent>
        <intent><action android:name="android.speech.RecognitionService" /></intent>
    </queries>
    <application android:label="AV006 provider probe" android:debuggable="true" android:allowBackup="false">
        <activity android:name=".ProbeActivity" android:exported="true" />
    </application>
</manifest>
